* {
	margin: 0;
	padding: 0;
	font-family: 'Museo';
	box-sizing: border-box;
}
@font-face {
	font-family: "Futura";
	src: url("fonts/Futura_bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Helvetica";
	src: url("fonts/helvetica-light.ttf");
}
@font-face {
	font-family: "Helvetica";
	src: url("fonts/Helvetica-bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: "Museo_Slab";
	src: url("fonts/Museo_Slab_500_Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Museo";
	src: url("fonts/MuseoSans_500.ttf");
}
@font-face {
	font-family: "Museo_Slab";
	src: url("fonts/Museo_Slab_500.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.page-wrapper {
	display: flex;
	flex-direction: column;
}

.page-wrapper > div {
	position: relative;
	z-index: 1;
}

.intro {
	order: 2;
	background: radial-gradient(ellipse at center, rgba(65,170,240,1) 0%, rgb(42, 159, 241) 28%, rgba(43,135,201,1) 100%);
}
header, .summary {
	height: calc(50vh);
}
header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.summary {
	text-align: center;
	overflow: hidden;
	position: relative;
}
.summary::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 64px;
	background-image: url(scollicon2.svg);
	background-size: cover;
	bottom: 0;
	animation: fadeup 2s forwards;
}
@keyframes fadeup {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
		transform:  translate(0px, 100px);
	}
	100% {
		opacity: 1;
		transform:  translate(0px, 0px);
	}
}
.preamble {
    background-color: white;
}
.main {
	order: 3;
}
h1 {
	display: inline-block;
	font-size: 32px;
	line-height: 38px;
    top: 0;
	left: 0;
	color: white;
	z-index: 3;
}
h2, h2 abbr {
	text-align: center;
	font-size: 48px;
	position: relative;
	font-family: 'Museo_Slab';
	font-style: italic;
	letter-spacing: 4px;
}
h3 {
	font-family: 'Museo';
	font-size: 36px;
	line-height: 1;
	width: 600px;
	padding-top: 1em;
}
p, h3 {
	max-width: 600px;
}
a {
	text-decoration: none;
}
p, p abbr {
	font-size: 18px;
	font-family: 'Museo_slab';
	line-height: 1.5;
	padding-bottom: 8px;
}
.preamble, .main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary p, .summary abbr {
	line-height: 1.5;
	color: #14405e;
	max-width: initial;
	font-size: 16px;
	font-family: 'Museo';
	padding-bottom: 0;
}
.summary a {
	padding: 4px;
	padding-left: 22px;
	position: relative;
	transition: all 0.2s;
	border-radius: 3px;
	color: white;
	background-color: black;
}
.summary a:hover {
	background-color: white;
    color: black;
}
.summary a::before {
	content: 'file_download';
	position: absolute;
	font-size: 16px;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	left: 3px;
	text-transform: none;
}
body h2::before {
	transform: translateX(-100%);
	left: -10px;
}
h2::before, h2::after {
	content: '';
	width: 64px;
	height: 3px;
	top: 50%;
	background-color: white;
	position: absolute;
	transform: translateX(100%);
    right: -10px;
}
.sidebar {
	order: 1;
	z-index: 2;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.2);
}

.sidebar .wrapper > div {
    margin: 0 16px;
}

.sidebar, h1 {
	padding: 8px 0 8px 8px;
	position: fixed;
}
.sidebar .wrapper {
	display: flex;
}
.sidebar h3 {
	line-height: 40px;
	position: relative;
	font-size: 18px;
	color: transparent;
	font-weight: normal;
	padding: 0;
	width: initial;
	padding-right: 24px;
	text-transform: uppercase;
	font-family: 'Museo';
}
.sidebar h3::before {
	content: 'Select a Design';
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}

.sidebar h3::after {
	content: 'keyboard_arrow_down';
	position: absolute;
	color: white;
	transform: rotateX(180deg);
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 40px;
	text-transform: none;
	transition: 0.4s all;
}

@keyframes flip {
	0% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.sidebar div:nth-of-type(2) h3::before {
	content: 'Archives';
}

.sidebar div:nth-of-type(3) h3::before {
	content: 'Resources';
}

li {
	display: none;
	padding: 10px;
	color: black;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.17);
}
li a:hover {
    text-decoration: underline;
}
li a {
	text-decoration: none;
	color: white;
}
ul {
	position: absolute;
    list-style-type: none;
    margin-top: -8px;
    margin-left: -8px;
    background-color: #0875c2;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
	opacity: 0;
	border-right: 8px solid #064d81;
}
.sidebar div div:hover ul li {
	display: list-item;
}
.sidebar div div:hover ul {
    opacity: 1;
    transition: all 0.4s;
}
.sidebar div div:hover h3::after {
	/* animation: flip 0.4s forwards; */
	transition: 0.4s all;
	transform: rotateX(0);
	
}
