* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v9/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Arial";
	src: url("fonts/arial.ttf");
}
@font-face {
	font-family: "Arial";
	src: url("fonts/arial_bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Arial";
	src: url("fonts/arial_italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "verdemoderna";
	src: url("fonts/verdemoderna.ttf");
}
@font-face {
	font-family: "MuseoSans-Cyrl";
	src: url("fonts/MuseoSansCyrl_500.otf");
}
@font-face {
	font-family: "MuseoSans";
	src: url("fonts/MuseoSans_500.ttf");
}
@font-face {
	font-family: "Museo";
	src: url("fonts/Museo500-Regular.ttf");
}
@font-face {
	font-family: "Yorkten";
	src: url("fonts/YorktenNormRegular.otf");
}
body {
	background-color: #f8f8f8;
}
.page-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.intro {
	flex-grow: 1;
	width: 100%;
}
h1 {
	text-align: center;
	padding: 32px;
	background-image: url("retro-wallpaper-1.jpg");
	font-size: 4em;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	text-shadow: 3px 2px 0px rgb(26, 37, 65);
	color: #294485;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.48);
	background-position: center top;
}
h1::last-letter {
	font-size: 10px;
}
body h3 {
	font-size: 24px;
}
h2, h3, h2 abbr, h3 abbr {
    padding: 16px 0;
	font-family: "Yorkten";
	text-decoration: none;
	font-weight: 500;
	font-size: 32px;
	padding: 24px 0 0 0;
}
.requirements {
	padding: 0 0 32px 0;
}
section h2, section div, .main {
	margin: 0 200px;
	max-width: 600px;
}
.sidebar {
	transform: translateY(-377px); /* fusk... */
	position: relative;
	z-index: 2;
	-webkit-animation: fadeIn 1s forwards;
	-moz-animation: fadeIn 1s forwards;
	animation: fadeIn 1s forwards;
}
.sidebar h3 {
	line-height: 1;
    padding-bottom: 0;
	padding-left: 16px;
}

.sidebar h3::before {
	position: absolute;
	content: '';
	background-image: url("ic_label_black_24px.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transform: translateX(-16px);
	padding-top: 15px;
	width: 12px;
	height: 12px;

}
@keyframes fadeIn {
  0% {
	opacity: 0;
    transform:  translate(0px, -300px);
  }
  100% {
    opacity: 1;
	transform:  translate(0px, -377px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
	opacity: 0;
    -webkit-transform: translate(0px, -300px);
  }
  100% {
    opacity: 1;
	-webkit-transform: translate(0px, -377px);
  }
}

@-moz-keyframes animationFrames{
  0% {
	-moz-transform: translate(0px, -300px);
  }
  100% {
	-moz-transform: translate(0px, -377px);
  }
}
a:hover {
	text-decoration: none;
}
.summary p:first-of-type {
	font-style: italic;
}
.summary a {
	padding: 4px 6px 4px 24px;
	border-radius: 2px;
	transition: all 0.3s ease;
	position: relative;
	margin-left: -2px;
}
.summary a:hover {
	color: white;
	background-color: #333;
	text-decoration: none;
}
.summary a::before, .summary a::after {
	content: '';
	width: 18px;
	height: 18px;
	top: 5px;
	left: 2px;
	background-image: url("ic_file_download_white_24px.svg");
	position: absolute;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
    background-size: 100% 100%;
}
.summary a::after {
	content: '';
	opacity: 0;
	background-image: url("ic_file_download_black_24px.svg");
}
.summary a:hover::before {
	opacity: 0;
	transition: all 0.3s ease;
}
.summary a:hover::after {
	opacity: 1;
	transition: all 0.3s ease;
}
.sidebar .wrapper {
	max-width: 600px;
}
footer {
	height: 64.5px;
	text-align: center;
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 16px;
}
footer a {
	position: relative;
	z-index: 2;
	color: transparent;
	width: 50px;
	height: 54px;
	font-size: 0;
}
footer a::before {
	content: '5';
	position: absolute;
	font-family: verdemoderna;
	color: black;
	transform: translateX(-50%);
	font-size: 50px;
	font-size: 50px;
}
footer a:nth-of-type(1):hover::before {
	content: '%';
}
footer a:nth-of-type(2)::before {
	content: '3';
}
footer a:nth-of-type(2):hover::before {
	content: '#';
}
footer a:nth-of-type(3)::before {
	content: 'c';
}
footer a:nth-of-type(3):hover::before {
	content: 'C';
}
footer a:nth-of-type(4)::before {
	content: 'a';
}
footer a:nth-of-type(4):hover::before {
	content: 'A';
}
footer a:nth-of-type(5)::before {
	content: 'g';
}
footer a:nth-of-type(5):hover::before {
	content: 'G';
}
footer a:last-of-type {
	padding-right: 0;
}
footer::before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	transform: translateY(-10px);
	width: 100%;
	height: 10px;
	border-top: 1px solid #c6c6c6;
	background-color: #e5e5e5;
}
footer::after {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #e5e5e5;
}
a {
	color: #ec4d04;
}
ul {
	list-style: none;
}
p {
	padding: 5px 0;
	line-height: 1.5;
	color: #333;
}

p:first-of-type {
	padding: 0;
}
ul li:first-of-type {
	padding-top: 7px;
}
li {
	padding: 9px 0;
	font-size: 14px;
}

@media screen and (max-width: 1500px) {
    section h2, section div, .main {
		margin: 0 150px 0 200px;
		max-width: 600px;
	}
}
@media screen and (max-width: 1450px) {
    section h2, section div, .main {
		margin: 0 100px 0 200px;
		max-width: 600px;
	}
}
@media screen and (max-width: 1400px) {
    section h2, section div, .main {

	}
}
@media screen and (max-width: 1337px) {
    .sidebar {
		transform: translateY(0);
		padding: 0 200px;
		padding-top: 8px;
		display: flex;
		flex-direction: row;
		width: 100%;
		background-color: #e5e5e5;
		-webkit-animation: none;
		animation: none;
		-moz-animation: none;
		border-top: 1px solid #c6c6c6;
	}
	.sidebar .wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-grow: 1;
	}
}
@media screen and (max-width: 1195px) {
	.sidebar {
		padding: 0 100px 0 200px;
	}
}
@media screen and (max-width: 1000px) {
	section h2, section div, .main{
		margin: 0 100px;
	}
	.sidebar {
		padding: 0 100px;
	}
}
@media screen and (max-width: 650px) {
	h1 {
		line-height: 1.1;
		font-size: 3em;
	}
	section h2, section div, .main{
		margin: 0 50px;
	}
	.sidebar {
		padding: 0 50px;
	}
	.sidebar .wrapper {
		flex-direction: column;
	}
}
@media screen and (max-width: 480px) {
	section h2, section div, .main {
		margin: 0 25px;
	}
	.sidebar {
		padding: 0 25px;
	}
}
